.chatbot_message {
   display: flex;
   width: 322px;
}

.box_modal {
    margin: 5px;
    text-align: center;
}

.button_options{
    margin: 2px 0 12px 0;
    padding: 0 6px;
}

.select_list{
    -webkit-animation: gZmgDU 0.3s ease forwards;
    animation: gZmgDU 0.3s ease forwards;
    cursor: pointer;
    display: inline-block;
    margin: 2px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.video_tag  {
    width: auto;
    height: 330px;
}

.image_gif {
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.image_txt{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.container{
    padding: 9px;
}

.no_link{
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}



