.chatbot_message {
   display: flex;
   width: 322px;
   overflow: auto;
   height: 177px;
}

.box_modal {
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.button_options{
    margin: 2px 0 12px 0;
    padding: 0 6px;
}

.select_list{
    -webkit-animation: gZmgDU 0.3s ease forwards;
    animation: gZmgDU 0.3s ease forwards;
    cursor: pointer;
    display: inline-block;
    margin: 2px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.chatbot_message::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

.chatbot_message::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
}
.chatbot_message::-webkit-scrollbar-thumb {
    background-color: black;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid white;  /* creates padding around scroll thumb */
}




